doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="http://cdn.dhtmlx.com/edge/dhtmlx.css", type="text/css") 
    script(src="http://cdn.dhtmlx.com/edge/dhtmlx.js", type="text/javascript")
  body    

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    block content